* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

h1 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}

h2 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}

h3 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}

h4 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}

h5 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}

h6 {
	color: ;
	font-family ;
	font-size: ;
	margin ;
	padding ;
	border: ;
	border-color: ;
}
