* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {

	padding: 5px;
	margin: 0px;

}

h1 {
	color: #000000;
	font-family: verdana, arial, sans-serif;
	font-size: 32px;
	margin: 10px;
	padding: 5px;
	border: none;
}

h2 {
	color: #C81414;
	font-family: verdana, arial, sans-serif;
	font-size: 26px;
	margin: 15px;
	padding: 10px;
	border: 2px solid #000000;
}

h3 {
	color: #149BC8;
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	margin: 12px;
	padding: 8px;
	border: 4px dotted #3DC814;
}

h4 {
	color: #14C83E;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	margin: 5px;
	padding: 3px;
	border: none;
}

h5 {
	color: #C814AA;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	border: 7px dashed;
}

h6 {
	color: #8314C8;
	font-family: verdana, arial, sans-serif;
	font-size: 8px;
	margin: 7px;
	padding: 7px;
	border: none;
}

<<<<<<< HEAD
<<<<<<< HEAD

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

ul {
  list-style-image: url('');
}

img {
	border: 5px solid #8314CB;
	border-radius: 30%;
	padding: 0px;
	height: 300px;
	width: 300px;
}

img.hover {
	  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
=======
=======
>>>>>>> 7cd88cb1b7646022d237ab5ebdbc647ae25b7b65
p {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
<<<<<<< HEAD
>>>>>>> 6a97b75bdd75d1cf05edf5a52d785a7ba3156332
}

table {
	border-collapse: none ;
	height: ;
	width: ;
	margin: ;
}

tr {
	color: ;
	border: ;
	width: ;
	padding: ;
}

tr.hover {
	color: #C814AA;
}

td {
	color: ;
	border: ;
}

thead {
	color: ;
	border: ;
}

th {
	border: ;
	height: ;
}

tbody {
	color: ;
	border: ;
	padding: ;
}

tfoot {
	color: ;
	border: ;
	padding: ;
=======
>>>>>>> 7cd88cb1b7646022d237ab5ebdbc647ae25b7b65
}
